body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* transform="translate(-10,-10) scale(1.05 */
/* 
svg {
  border: 1px solid;
} */

/* svg path:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
  transition: all 1s;
} */

.App {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.item {
  font-size: 12px;
  display: inline-block;
  padding: 8px;
  border-radius: 14px;
  margin: 4px;
  cursor: pointer;
}

.label {
  margin: 0 4px 0 0;
}

.rubExpenses {
  display: flex;
  width: 50%;
  align-items: center;
}

.currencyExpenses {
  display: flex;
  width: 50%;
}

/* [class^="path"] { stroke-width: 58; transition: all ease 450ms; transform-origin: center; }
[class^="path"]:hover {
  transform: scale(1.05);
} */

[class^="pie"] {
  transition: stroke-width ease-out 450ms;
  cursor: pointer;
}
[class^="pie"]:hover {
  stroke-width: 30;
}



.outline {
  fill: red;
  opacity: 1;
}

/* .path-1 { stroke-dasharray: 0 628.32; stroke-dashoffset: 498; transition-delay: 25ms; }
.path-2 { stroke-dasharray: 0 628.32; stroke-dashoffset: 490; transition-delay: 50ms; }
.path-3 { stroke-dasharray: 0 628.32; stroke-dashoffset: 560; transition-delay: 75ms; }
.path-4 { stroke-dasharray: 0 628.32; stroke-dashoffset: -69; transition-delay: 100ms; }
.path-5 { stroke-dasharray: 0 628.32; stroke-dashoffset:  10; transition-delay: 125ms; }
.path-6 { stroke-dasharray: 0 628.32; stroke-dashoffset:  10; transition-delay: 150ms; }
.path-7 { stroke-dasharray: 0 628.32; stroke-dashoffset:  10; transition-delay: 175ms; } */
